

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
  margin: 0;
  padding: 0;
  
}


.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}
.game {
  width: 1000px;
  height: 600px;
  background: url(../img/background-blue.png);
  animation: scroll-background 5s linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: #c7a526;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: black;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
  font-family:'Press Start 2P', cursive;
  opacity: 0.7;
}

.btn {
  border: 2px solid #36bbf5;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 49%,
    #f5f5f5 50%,
    #eee 100%
  );
  padding: 10px 40px;
  font: 14px;
  font-family:'Press Start 2P', cursive;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*FLEXBOX*/

body{
  background-color: black;
  box-sizing: border-box;
}

p{
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-align: center;
}

.main{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
 
}

.sidebar{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  
}

.game_space{
  display:flex;
  flex-wrap: wrap;
  }

.footer{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.player1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
}

.player2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
}

.player1 p{
  font-size: 25px;
}

.player2 p{
  font-size: 25px;
}

.thanks{
  display: flex;
  justify-content: space-around;
  color:white;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
}


.TK_S a{
  text-decoration: none;
  color: white;
}